<%= form_with(model: edition, multipart: true, local: true) do |f| %>

  <div class='field form-group'>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control'  %>
  </div>

  <div class='field form-group'>
    <%= f.label :topic %>
    <%= f.text_field :topic, class: 'form-control' %>
  </div>

  <div class='field form-group'>
    <%= f.label :link %>
    <%= f.text_field :link, class: 'form-control' %>
  </div>

  <div class='field form-group'>
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class='field form-group'>
    <%= f.label :date %>
          <%= f.date_select :date, class: 'form-control' %>
  </div>

  <br />
  <div class='actions'>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
