<table class='table'>
  <thead class='thead-dark'>
    <tr>
      <th>Name</th>
      <th>Topic</th>
      <th>Date</th>
      <th>No.participants</th>
      <th>Actions</th>
    </tr>
  </thead>
  <% @editions.each do |edition| %>
    <tr>
      <td><%= link_to edition.name, edition.link, target: '_blank' %></td>
      <td><%= edition.topic %></td>
      <td><%= romanian_format(edition.date) %></td>
      <td><%= edition.participations.size %></td>
      <td>
        <%= link_to 'Show', edition_path(edition), class: 'btn btn-primary' %>
        <% if current_user %>
          <%= link_to 'Edit', edit_edition_path(edition), class: 'btn btn-primary' %>
          <%= link_to 'Import', new_import_edition_path(edition), class: 'btn btn-primary' %>
          <%= link_to 'Destroy', edition_path(edition), class: 'btn btn-primary',
            data: {:confirm => 'Are you sure?'}, :method => :delete %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<hr>
<div class='text-center'>
  <%= will_paginate @editions, renderer: BootstrapPagination::Rails,
    :previous_label => '<<', :next_label => '>>' %>
</div>

<% if current_user %>
  <%= link_to 'New Edition', new_edition_path, class: 'btn btn-primary'%>
<% end %>
