<h1>CodeCraft editions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Topic</th>
    <th>Date</th>
    <th>No.participants</th>
    <th>Actions</th>
  </tr>
  <% @editions.each do |edition| %>
    <tr>
      <td><%= link_to edition.name, edition.link, target: '_blank' %></td>
      <td><%= edition.topic %></td>
      <td><%= romanian_format(edition.date) %></td>
      <td><%= edition.participants.size %></td>
      <td>
        <%= link_to 'Show', edition_path(edition) %>
        <%= link_to 'Edit', edit_edition_path(edition) %>
        <%= link_to 'Import', new_import_edition_path(edition) %>
      </td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Edition', new_edition_path%>
