<h1>Edition <%= @edition.name %></h1>

<hr>
Topic: <%= @edition.topic %> <br>
Date: <%= romanian_format(@edition.date) %><br>
Description: <%= @edition.description %><br>
<%= link_to 'Edition link', @edition.link %>
<hr>
<p><%= @edition.description %></p>
<hr>

<% if @participations.size > 0 %>
  <h2>Edition results</h2>
  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Total Points</th>
        <th>Total Time</th>
      </tr>
    </thead>

    <tbody>
      <% @participations.each do |participation| %>
        <tr>
          <td><%= participation.participant.username %></td>
          <td><%= participation.total_points %></td>
          <td><%= participation.total_time %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<div class="text-center">
  <%= will_paginate @participations, renderer: BootstrapPagination::Rails,
      :previous_label => '<<', :next_label => '>>' %>
</div>
<br>

<%= link_to 'Edit', edit_edition_path(@edition) %>
<%= link_to 'Editions', editions_path %>
