<div class='panel panel-default'>
  <div class='panel-heading'>
    <h1>Edition <%= @edition.name %></h1>
  </div>
  <dl class='dl-horizontal'>
    <dt>Topic:</dt> <dd><%= @edition.topic %> <br></dd>
    <dt>Date: </dt> <dd><%= romanian_format(@edition.date) %><br></dd>
    <dt>Link: </dt> <dd><%= link_to 'CodeSignal link', @edition.link, target: '_blank' %></dd>
  </dl>
</div>

<div class='panel panel-default'>
  <div class='panel-heading'>
    <h1>Description</h1>
  </div>
  <div class='panel-body'>
    <%= @edition.description %>
  </div>
</div>

<% if @participations.size > 0 %>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h2>Edition results</h2>
    </div>
    <table class='table'>
      <thead class='thead-dark'>
      <tr>
        <th>Username</th>
        <th>Total Points</th>
        <th>Total Time</th>
      </tr>
      </thead>
      <tbody>
        <% @participations.each do |participation| %>
          <tr>
            <td><%= participation.participant.username %></td>
            <td><%= participation.total_points %></td>
            <td><%= participation.total_time %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<div class='text-center'>
  <%= will_paginate @participations, renderer: BootstrapPagination::Rails,
      :previous_label => '<<', :next_label => '>>' %>
</div>

<hr>
<% if current_user %>
  <%= link_to 'Edit', edit_edition_path(@edition), class: 'btn btn-primary' %>
<% end %>
<%= link_to 'Editions', editions_path, class: 'btn btn-primary' %>
