<%= form_with(model: task, multipart: true, local: true) do |f| %>
  <div class='field form-group'>
    <%= f.label :name %><br />
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class='field form-group'>
    <%= f.label :author %><br />
    <%= f.text_field :author, class: 'form-control' %>
  </div>

  <div class='field form-group'>
    <%= f.label :description %><br />
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class='field form-group'>
    <%= f.label :edition %><br />
    <%= f.select :edition_id, Edition.all.map{ |p| [p.name, p.id] }, { include_blank: true }, { class: 'form-control' } %>
  </div>

  <br />
  <div class='actions'>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
