<%= form_with(model: task, multipart: true, local: true) do |f| %>
  <div class='field form-group'>
    <%= f.label :name %><br />
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class='field form-group'>
    <%= f.label :author %><br />
    <%= f.text_field :author, class: 'form-control' %>
  </div>

  <div class='field form-group'>
    <%= f.label :description %><br />
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class='field form-group'>
    <%= f.label :edition %><br />
    <%= f.select :edition_id, Edition.not_deleted.map{ |p| [p.name, p.id] }, { include_blank: true }, { class: 'form-control' } %>
  </div>

  <%= f.label :test_cases %><br />
  <div class='input-group'>
    <span class='input-group-btn'>
      <span class='btn btn-small btn-primary btn-inverse' onclick="$(this).parent().find('input[type=file]').click();">
        Browse
      </span>
        <%= f.file_field :test_cases,  multiple: true, onchange: "$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\\\|/]/).pop());", style: 'display: none;' %>
    </span>
    <span class='form-control'></span>
  </div>

  <br />
  <div class='actions'>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
