<h1>Task <%= @task.name %></h1>

Name: <%= @task.name %> <br />
Author: <%= @task.author %> <br />
Description: <%= @task.description %><br>
Edition: <%= @task.edition_name %> <br />
<hr>
<%= link_to 'Edit', edit_task_path(@task) %>
<%= link_to 'Tasks', tasks_path %>
