<%= form_with(model: participant, multipart: true, local: true) do |f| %>
  <div class='field form-group'>
    <%= f.label :username %><br />
    <%= f.text_field :username, class: 'form-control' %>
  </div>

  <div class='field form-group'>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>

  <div class='field form-group'>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>

  <div class='field form-group'>
    <%= f.label :link %><br />
    <%= f.text_field :link, class: 'form-control' %>
  </div>

  <div class='field form-group'>
    <%= f.label :position %><br />
    <%= f.select :position_id, Position.all_not_deleted.map{ |p| [p.short_name, p.id] }, {}, { class: 'form-control' } %>
  </div>

  <br />
  <div class='actions'>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
