<div class='panel panel-default'>
  <div class='panel-heading'>
    <h1>Participant <%= @participant.username %></h1>
  </div>
  <dl class='dl-horizontal'>
    <dt>Username:  </dt> <dd><%= @participant.username %></dd>
    <dt>First Name:</dt> <dd><%= @participant.first_name %></dd>
    <dt>Last Name: </dt> <dd><%= @participant.last_name %></dd>
    <dt>Position:  </dt> <dd><%= @participant.position_name %></dd>
    <dt>Link:      </dt> <dd><%= link_to 'Code Signal link', @participant.link, target: '_blank' %></dd>
  </dl>
</div>

<% if @participations.size > 0 %>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h2>Editions results</h2>
    </div>
    <table class='table'>
      <thead class='thead-dark'>
        <tr>
          <th>Edition name</th>
          <th>Date</th>
          <th>Total Points</th>
          <th>Total Time</th>
        </tr>
      </thead>
      <tbody>
        <% @participations.each do |participation| %>
          <tr>
            <td><%= participation.edition.name %></td>
            <td><%= participation.edition.date %></td>
            <td><%= participation.total_points %></td>
            <td><%= participation.total_time %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<div class='text-center'>
  <%= will_paginate @participations, renderer: BootstrapPagination::Rails,
      :previous_label => '<<', :next_label => '>>' %>
</div>

<hr>
<% if current_user %>
  <%= link_to 'Edit', edit_participant_path(@participant), class: 'btn btn-primary' %>
<% end %>
<%= link_to 'Participants', participants_path, class: 'btn btn-primary' %>
